// PostFeed.scss
@use '../../styles/global' as *;

.post-feed {
  @include margin;
  overflow: hidden;

  &__title {
    color: $color-primary-accent;
    text-align: left;
    @include subheader;
    margin-top: 4rem;
    padding: 0.5rem 0 0.25rem 0;
  }

  &__list-container {
    @include display-flex(column, flex-start, flex-start);
    gap: 1rem;
    overflow: hidden;
    flex-wrap: nowrap;

    @include bp-tablet {
      // height: fit-content;
    }

    @include bp-laptop {
      @include display-flex(row, space-between, flex-start);
      gap: 2rem;
    }

    @include bp-desktop {
      flex-wrap: wrap;
    }
  }
}
