// HomePlaylist2.scss
@use "../../styles/global" as *;

.playlist {
  @include margin;

  &__title {
    color: $color-primary-accent;
    text-align: left;
    @include subheader;
    margin: 3rem 0 1rem 0;
  }

  &__list-container {
    @include display-flex(row, flex-start, flex-start);
    gap: 1rem;
  }
}

.playlist-card {
  width: 25rem;
  &__img {
    width: 24.666rem;
  }

  &__title {
    color: $color-primary-text;
    text-align: left;
    @include p3;
  }
}
