// Hero.scss
@use "../../styles/global" as *;

.hero {
  background-color: $color-primary-background;
  @include display-flex(column, flex-start, flex-start);
  flex-wrap: wrap;
  padding-top: $nav-height-mobile;
  @include margin;
  gap: 0.5rem;

  @include bp-tablet {
    height: 30.8125rem;
    @include display-flex(column, space-between, space-between);
    flex-wrap: nowrap;
  }

  @include bp-desktop {
    height: 35rem;
    @include display-flex(column, space-between, space-between);
    flex-wrap: wrap;
  }
}

.hero-card {
  width: 100%;
  background-image: url(../../assets/images/forrestgump.jpg);
  background-position: top;
  background-size: 130%;
  background-repeat: no-repeat;
  overflow: hidden;

  @include bp-tablet {
    background-position: top;
    background-size: cover;
    height: 35rem;
  }

  @include bp-desktop {
    background-position: top;
    background-size: cover;
    width: 67.5%;
    height: 35rem;
  }

  &__overlay {
    width: 100%;
    height: 18.75rem;
    position: relative;
    top: 55%;
    @include display-flex(column, left, flex-end);
    gap: 0.7rem;
    flex-wrap: wrap;
    background-image: linear-gradient(
      rgba($color: #000000, $alpha: 0),
      rgba($color: #000000, $alpha: 0.8),
      rgba($color: #000000, $alpha: 1)
    );

    @include bp-tablet {
      @include display-flex(row, flex-end, flex-start);
      flex-wrap: nowrap;
      height: 45%;
    }
  }

  &__img2 {
    background-image: url(../../assets/images/Forrest_Gump_poster.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5.625rem;
    height: 8.325rem;
    margin: 9rem 0 1rem 0.9rem;

    @include bp-tablet {
      background-position: bottom;
      margin: 0 0.9rem 1rem 0.9rem;
      width: 8.25rem;
      height: 12.2094rem;
    }

    @include bp-desktop {
      margin: 0 0 1rem 0.9rem;
      width: 10.3125rem;
      height: 15.25rem;
    }
  }

  &__icon {
    color: $color-primary-text;
    height: 1rem;
    width: 1rem;
    border: 0.125rem solid white;
    border-radius: 6.25rem;
    padding: 0.938rem;

    @include bp-tablet {
      height: 2rem;
      width: 2rem;
      margin-bottom: 1rem;
      border: 0.2rem solid white;
      border-radius: 100px;
      padding: 1.05rem;
    }

    @include bp-desktop {
      margin-bottom: 3rem;
    }
  }

  &__text-container {
    margin: 0 0 0 0.3rem;

    @include display-flex(column, space-between, space-between);
    margin-bottom: 1rem;
    max-width: 100%;

    @include bp-tablet {
      @include display-flex(column, flex-start, flex-start);
      width: auto;
      max-width: 55vw;
      height: 4.5rem;
      gap: 0.5rem;
    }

    @include bp-desktop {
      @include display-flex(column, space-between, space-between);
      height: 6.5rem;
      gap: 0;
    }
  }

  &__title {
    color: $color-primary-text;
    line-height: 1.25;
    text-align: left;
    max-width: 100%;
    width: 52.5vw;
    font-weight: bold;
    font-size: 0.8rem;

    @include bp-tablet {
      font-size: 1.25rem;
      font-weight: 500;
    }

    @include bp-desktop {
      width: 30.0287rem;
      height: 80px;
      font-size: 2rem;
    }
  }

  &__subtitle {
    color: $color-primary-shade;
    text-align: left;
    width: 52.5vw;
    font-weight: bold;
    font-size: 0.8rem;

    @include bp-tablet {
      font-size: 1.2rem;
      width: 30.0287rem;
    }
  }
}

.hero-queue {
  height: 31.25rem;

  max-width: 100%;
  display: none;
  gap: 0.5rem;

  @include bp-tablet {
  }

  @include bp-desktop {
    @include display-flex(column, space-between, flex-start);
    width: 31.5%;
  }

  &__title {
    color: $color-primary-accent;
    text-align: left;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0.5rem 0 1rem 0;
  }

  &__card-container {
    background-color: $color-primary-dark;
  }
}

.hero-queue-card {
  height: 116px;
  @include display-flex(column, flex-start, flex-start);
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;

  &__img {
    height: 8.125rem;
    width: 5.5rem;
  }

  &__text-container {
    height: 100%;
    @include display-flex(column, flex-start, flex-start);
    gap: 0.25rem;
    width: 255px;
    max-width: 60%;
  }

  &__title {
    color: $color-primary-text;
    text-align: left;
    line-height: 1.25;
    text-align: left;
  }

  &__subtitle {
    color: $color-primary-shade;
    text-align: left;
  }
}

.hero-queue-link {
  &__container {
    @include display-flex(row, center, flex-start);
    padding: 1rem 0 0 1rem;
  }

  &__text {
    color: $color-primary-text;
    text-align: left;
    font-weight: bolder;
    font-size: 1.3rem;
  }
}

.icon {
  &--queue-card {
    height: 1rem;
    width: 1rem;
    border: 2px solid $color-primary-text;
    border-radius: 100px;
    padding: 0.45rem;
  }
}
