// styles/_colors.scss

// Prmary Colors NEW SITE

$color-primary-background: #000000;
$color-primary-text: #ffffff;
$color-primary-accent: #ffb41f;
$color-primary-shade: #ffffffb3;
$color-primary-grey: #4d4d4d;
