// styles/_colors.scss

// Primary Colors
$color-primary-black: #000000;
$color-primary-dark: #003153;
$color-primary-light: #ffffff;
// Secondary Colors
$color-secondary-blue: #004996;
$color-secondary-light-blue: #4180b4;
// Background Colors
$color-background-graphite: #232940;
$color-background-light-grey: #f7f8f9;
$color-background-white: #ffffff;
// Supporting Colors
$color-supporting-orange: #ff9505;
$color-supporting-light-orange: #ffb41f;
$color-supporting-grey: #adb5bd;

// Prmary Colors NEW SITE

$color-primary-background: #000000;
$color-primary-text: #ffffff;
$color-primary-accent: #ffb41f;
$color-primary-shade: #ffffffb3;
