// styles/_colors.scss

// Colors NEW SITE

$color-primary-background: #000000;
$color-secondary-background: #ffffff;
$color-primary-dark: #101010;
$color-secondary-dark: #1f1f1f;
$color-primary-text: #ffffff;
$color-secondary-text: #101010;
$color-primary-accent: #ffb41f;
$color-primary-shade: #ffffffb3;
$color-primary-grey: #4d4d4d;
