// styles/_mixins.scss

@use "./variables" as *;
@use "./colors" as *;
@use "./typography" as *;

@mixin bp-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin bp-desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
@mixin display-flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
//MARGINS AND PADDING
//margin for wrappers
@mixin margin {
  margin-left: 1rem;
  margin-right: 1rem;
  @include bp-tablet {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include bp-desktop {
    margin: auto;
    max-width: 1260px;
  }
}
//margin for component gutters
@mixin component-gutter {
  margin-left: 1rem;
  margin-right: 1rem;
  @include bp-tablet {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include bp-desktop {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
//card mixin
@mixin card {
  @include margin;
  background-color: $color-primary-light;
  filter: drop-shadow(4px 4px 4px $color-primary-dark);
  margin-bottom: $padding-between-components-mobile;
  padding: $padding-between-components-mobile;
  @include display-flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  gap: $padding-between-components-half-mobile
    $padding-between-components-mobile;
}
//RESPONSIVE FONTS MIXINS
//mobile and tablet/desktop font styles combined for respective type
@mixin page-header {
  @include font-mobile-h1-page-header;
  @include bp-tablet {
    @include font-tablet-desktop-h1-page-header;
  }
}
@mixin subheader {
  @include font-mobile-h2-subheader;
  @include bp-tablet {
    @include font-tablet-desktop-h2-subheader;
  }
}
@mixin labels-links-buttons {
  @include font-mobile-body-h3-labels-link-buttons;
  @include bp-tablet {
    @include font-tablet-desktop-body-h3-labels-link-buttons;
  }
}
@mixin table-header {
  @include font-mobile-labels-h4-table-header;
  @include bp-tablet {
    @include font-tablet-desktop-labels-h4-table-header;
  }
}
@mixin p1 {
  @include font-mobile-p1-body-large;
  @include bp-tablet {
    @include font-tablet-desktop-p1-body-large;
  }
}
@mixin p2 {
  @include font-mobile-p2-body-medium;
  @include bp-tablet {
    @include font-tablet-desktop-p2-body-medium;
  }
}
@mixin p3 {
  @include font-mobile-p3-body-small;
  @include bp-tablet {
    @include font-tablet-desktop-p3-body-small;
  }
}
