// styles/_variables.scss

// Header Component
$header-height-mobile: 5rem;
$header-search-height-mobile: 7.8125rem;
// MobileNav Component
$nav-height-mobile: 5rem;
// padding
$padding-between-components-half-mobile: 0.5rem;
$padding-between-components-mobile: 1rem;
$padding-between-components-tablet: 2rem;
