// Footer.scss

@use "../../styles/global" as *;

.footer {
  background-color: $color-primary-light;
  height: $nav-height-mobile;
  display: none;

  &__text {
    color: $color-primary-dark;
  }

  @include bp-tablet {
    @include display-flex(row, center, center);
  }
}
