// Footer.scss

@use "../../styles/global" as *;

.icon {
  color: $color-primary-text;
  width: 1.25rem;
  height: 1.25rem;
}

.footer {
  background-color: $color-primary-background;
  // height: $nav-height-mobile;
  display: none;
  @include display-flex(row, center, center);
  flex-wrap: wrap;
  padding: 5rem 0 1rem 0;
  gap: 1rem 2rem;

  &__text {
    color: $color-primary-text;
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }

  @include bp-tablet {
    @include display-flex(row, center, center);
  }
}
