// Post.scss
@use '../../styles/global' as *;

.post {
  width: 100%;
  padding-top: 4rem;
  @include display-flex(column, flex-start, center);

  @include bp-tablet {
  }

  @include bp-desktop {
  }
}

.post-hero {
  @include bp-tablet {
  }

  @include bp-desktop {
  }

  &__img {
    height: 20rem;
    width: 100vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.post-content {
  width: 100%;

  &__div {
    width: 100%;
    color: $color-primary-text;
  }
}
