// PostCardFull.scss
@use '../../styles/global' as *;

.post-card-full {
  width: 92.5vw;
  height: fit-content;
  @include display-flex(column, flex-start, center);
  flex-wrap: nowrap;
  background-color: $color-primary-dark;

  @include bp-tablet {
    width: 100%;
    flex-wrap: nowrap;
    gap: 0;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  @include bp-laptop {
    width: 40%;
    padding: 0;
  }

  @include bp-desktop {
    // @include display-flex(row, flex-start, flex-start);
    max-width: 100%;
  }

  &__img-container {
    @include bp-tablet {
      width: 100%;
    }

    // @include bp-laptop {
    //   @include display-flex(row, space-between, center);
    //   width: 40%;
    //   padding: 1rem;
    // }
  }

  &__imgHero {
    width: inherit;
    max-width: 100%;

    @include bp-tablet {
      width: 100%;
      // width: 24.666rem;
    }

    @include bp-laptop {
      max-width: 100%;
      width: 24.666rem;
      display: inline-block;
    }
  }

  &__imgPoster {
    display: none;

    @include bp-tablet {
      max-height: 21.875rem;
      width: 30vw;
      max-width: 14.375rem;
      //   padding-bottom: 5vw;
    }

    @include bp-laptop {
    }
  }

  &__text-container {
    @include display-flex(column, flex-start, flex-start);
    flex-wrap: wrap;
    padding: 0 0.5rem;

    @include bp-tablet {
      @include display-flex(row, space-between, center);
      width: 100%;
      padding: 1rem;
    }

    // @include bp-laptop {
    //   @include display-flex(row, space-between, center);
    //   width: 40%;
    //   padding: 1rem;
    // }
  }

  &__text {
    color: $color-primary-text;
    text-align: left;

    @include bp-tablet {
      @include display-flex(column, center, flex-start);
      // gap: 0.25rem;
      width: 100%;
      text-align: center;

      // flex-wrap: wrap;
    }
  }

  &__text2 {
    color: $color-primary-text;
    text-align: left;
    display: none;

    @include bp-tablet {
      // display: inline-block;
    }
  }

  &__title {
    display: inline-block;
    text-align: left;
    @include p3;
    font-weight: bold;

    @include bp-tablet {
      // padding: 0 0 1rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5rem;
      padding-right: 3px;
      padding-bottom: 1.3px;
    }
  }

  &__subtitle {
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;

    @include bp-tablet {
    }
  }
}

.paragraph {
  color: white;
}
